# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.temp

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
